<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>
</head>
<body>
    <h2>Usuario</h2>
        <form action="/usuario" method="POST">
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Nome da casa">
            <input type="text" placeholder="Nome do servico">
            <input type="datetime" placeholder="inicio">
            <input type="datetime" placeholder="fim">
            <input type="text" placeholder="descricao">
            <input type="text" placeholder="tipo">
            <button type="submit"> Sybmit</button>
        </form>
</body>
</html>